:root {
  --color-primary: lightgrey;
  --color-danger: lightcoral;
  --border-radious: 10px;
}
table {
  margin-top: 2rem;
  width: 100%;
  border: 1px solid var(--color-primary);
}
thead {
  background-color: var(--color-primary);
}
td {
  text-align: center;
}
.input-container {
  display: inline-grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  gap: 4px;
}
.invalid {
  background-color: var(--color-danger);
}
